<div class="row">
    <div class="col-xs-12 col-md-12 nv-navibar">
        <a ui-sref="home">
            <span class="nv-navi-link">
                Hello
            </span>
        </a>
        <a ui-sref="home">
            <span class="nv-navi-link">
                Hello
            </span>
        </a>
        <a ui-sref="home">
            <span class="nv-navi-link">
                Hello
            </span>
        </a>
        <a ui-sref="home">
            <span class="nv-navi-link">
                Hello
            </span>
        </a>
        <a ui-sref="home">
            <span class="nv-navi-link">
                Hello
            </span>
        </a>
        <a ui-sref="home">
            <span class="nv-navi-link">
                Hello
            </span>
        </a>
    </div>
</div>
