<!--- Simple html template for the home view -->

<div class="row">
    <div class="col-xs-12">
        <div class="home">
            {{ctrl.homeText}}
        </div>
        <nv-hello></nv-hello>
        <nv-greetings></nv-greetings>

        <pre>{{ctrl.hideItem | json}}</pre>

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="ctrl.hideItem=false">Fade In!</button>
            <button type="button" class="btn btn-default" ng-click="ctrl.hideItem=true">Fade Out!</button>
        </div>
        <div ng-hide="ctrl.hideItem" class="dfade">
            Fade me in out
        </div>
    </div>
</div>
